# Heroes of Pymoli Data Analysis

In [1]:
#Import Dependencies
import pandas as pd
import numpy as np

In [2]:
#Create json path and read json
json_path = "purchase_data.json"
purchase_df = pd.read_json(json_path)
#purchase_df.head()

In [3]:
#purchase_df.dtypes

## Player Count

In [4]:
#Finding the total number of players
player_demo = purchase_df.loc[:, ['Gender', 'SN', 'Age']]
player_demo = player_demo.drop_duplicates()
num_players = player_demo.count()[0]
total_df = pd.DataFrame({"Total Players":[num_players]})
total_df

   Total Players
0            573

## Purchasing Analysis (Total)

In [5]:
#Number of unique items
unique_items = len(purchase_df['Item Name'].unique())
#Average purchase price
avg_price = pd.to_numeric(purchase_df['Price'].mean())
#Total number of purchases
num_purchases = purchase_df['Price'].count()
#Total revenue
total_rev = pd.to_numeric(purchase_df['Price'].sum())
#Create purchase analysis Data Frame
purchase_analysis = pd.DataFrame({"Number of Unique Items":[unique_items],
                                 "Average Price": [avg_price],
                                 "Number of Purchases":[num_purchases],
                                 "Total Revenue":[total_rev]})
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].map("${:.2f}".format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map("${:,.2f}".format)
organized_pa = purchase_analysis[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
organized_pa

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $2.93                  780     $2,286.33

## Gender Demographics

In [7]:
#Create Data Frame that shows gender value counts
gender = pd.DataFrame(player_demo["Gender"].value_counts())
#Rename gender column to total counts
gender_df = gender.rename(columns={"Gender": "Total Count"})
#Percentage and count of male players
male_count = gender_df.loc["Male", "Total Count"]
male_percent = (male_count / num_players)*100
#Percentage and count of female players
female_count = gender_df.loc["Female", "Total Count"]
female_percent = (female_count / num_players)*100 
#Percentage and count of other/non-disclosed
other_count = gender_df.loc["Other / Non-Disclosed", "Total Count"]
other_percent = (other_count / num_players)*100
#Create Gender Demographics Data Frame
gender_df['Percentage of Players'] = (male_percent, female_percent, other_percent)
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}".format)
organized_gender_df = gender_df[["Percentage of Players", "Total Count"]]
organized_gender_df

                      Percentage of Players  Total Count
Male                                  81.15          465
Female                                17.45          100
Other / Non-Disclosed                  1.40            8

## Purchasing Analysis (Gender)

In [14]:
#Total Purchase Count
gender_total_purchase = purchase_df.groupby(["Gender"]).sum()["Price"]
#Average Purchase Count
gender_avg_purchase = purchase_df.groupby(["Gender"]).mean()["Price"]
#Purchase Count
gender_purchase_count = purchase_df.groupby(["Gender"]).count()["Price"]
#Normalized Totals
gender_norm_totals = gender_total_purchase/organized_gender_df["Total Count"]
#Create Gender Purchasing Analysis Data Frame
gender_pa_results = pd.DataFrame({"Purchase Count": gender_purchase_count, "Average Purchase Price": gender_avg_purchase,
                               "Total Purchase Value": gender_total_purchase, "Normalized Totals": gender_norm_totals})
gender_pa_results["Average Purchase Price"] = gender_pa_results["Average Purchase Price"].map("${:.2f}".format)
gender_pa_results["Total Purchase Value"] = gender_pa_results["Total Purchase Value"].map("${:.2f}".format)
gender_pa_results["Normalized Totals"] = gender_pa_results["Normalized Totals"].map("${:.2f}".format)
organized_gender_pa = gender_pa_results.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
organized_gender_pa

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,136,$2.82,$382.91,$3.83
Male,633,$2.95,$1867.68,$4.02
Other / Non-Disclosed,11,$3.25,$35.74,$4.47

## Age Demographics

In [19]:
#Create bins of 4 years
age_bins = [5,15,25,35,50]
age_group_labels = ["5 to 15", "15 to 25", "25 to 35", "35 to 50"]
#Categorize the existing players using the age bins
player_demo["Age Group"] = pd.cut(player_demo["Age"], age_bins, labels = age_group_labels)
#Player count by age
age_demo_totals = player_demo["Age Group"].value_counts()
#Percentage of players by age
age_demo_percent = age_demo_totals/num_players * 100
age_demo = pd.DataFrame({"Total Count": age_demo_totals, "Percentage of Players": age_demo_percent})
age_demo = age_demo.round(2)
age_demo.sort_index()

          Percentage of Players  Total Count
5 to 15                   13.26           76
15 to 25                  65.10          373
25 to 35                  16.75           96
35 to 50                   4.89           28

## Purchasing Analysis (Age)

In [20]:
#Bin the purchase_df
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], age_bins, labels = age_group_labels)
grouped_age_df = purchase_df.groupby("Age Group")
#Purchase count
age_price_count = grouped_age_df["Price"].count()
#Average purchase price
age_avg_price = grouped_age_df["Price"].mean()
#Total purchase value
age_total_price = grouped_age_df["Price"].sum()
#Normalized Totals
age_std_price = grouped_age_df["Price"].std()
age_norm_total = age_avg_price/age_std_price
#Create Age Purchase Analysis Data Frame
age_demo_pa = pd.DataFrame({"Purchase Count": age_price_count, "Average Purchase Price": age_avg_price, 
                       "Total Purchase Value": age_total_price, "Normalized Totals": age_norm_total})
age_demo_pa["Average Purchase Price"] = age_demo_pa["Average Purchase Price"].map("${:.2f}".format)
age_demo_pa["Total Purchase Value"] = age_demo_pa["Total Purchase Value"].map("${:,.2f}".format)
age_demo_pa["Normalized Totals"] = age_demo_pa["Normalized Totals"].map("${:.2f}".format)
organized_age_demo_pa = age_demo_pa[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
organized_age_demo_pa

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
5 to 15,110,$2.92,$320.77,$2.61
15 to 25,489,$2.93,"$1,431.35",$2.60
25 to 35,134,$2.97,$398.08,$2.71
35 to 50,47,$2.90,$136.13,$2.67

## Top Spenders

In [36]:
##Top Spenders: Identify top 5 spenders by total purchase value and then list(in a table)##
#Purchase Count
top_spender_count = purchase_df.groupby(["SN"]).count()["Price"]
#Average Purchase Price
top_spender_avg = purchase_df.groupby(["SN"]).mean()["Price"]
#Total Purchase Value
top_spender_total = purchase_df.groupby(["SN"]).sum()["Price"]
#Create Top Spender Data Frame
top_spender_results = pd.DataFrame({"Purchase Count": top_spender_count, "Average Purchase Price": top_spender_avg,
                                    "Total Purchase Value": top_spender_total})
top_spender_results["Average Purchase Price"] = top_spender_results["Average Purchase Price"].map("${:.2f}".format)
top_spender_results["Total Purchase Value"] = top_spender_results["Total Purchase Value"].map("${:.2f}".format)
top_spender_results = top_spender_results[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

#Display table in descending order
top_spender_results.sort_values("Total Purchase Value", ascending = False).head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Qarwen67                   4                  $2.49                $9.97
Sondim43                   3                  $3.13                $9.38
Tillyrin30                 3                  $3.06                $9.19
Lisistaya47                3                  $3.06                $9.19
Tyisriphos58               2                  $4.59                $9.18

## Most Popular Items

In [37]:
##Most Popular Items: Identify the 5 most popular items by purchase count, then list (in a table)##
#Item ID
#Item Name
#Purchase Total
pop_items_total = purchase_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
#Purchase Price
pop_items_price = purchase_df.groupby(["Item ID", "Item Name"]).mean()["Price"]
#Purchase Count
pop_items_count = purchase_df.groupby(["Item ID", "Item Name"]).count()["Price"]
#Create Most Popular Items Data Frame
pop_items_results = pd.DataFrame({"Purchase Count": pop_items_count, "Item Price": pop_items_price,
                                  "Total Purchase Value": pop_items_total})
#pop_items_results.head()
pop_items_results = pop_items_results[["Purchase Count", "Item Price", "Total Purchase Value"]]
pop_items_results = pop_items_results.sort_values("Purchase Count", ascending = False)
pop_items_results["Item Price"] = pop_items_results["Item Price"].map("${:.2f}".format)
pop_items_results["Total Purchase Value"] = pop_items_results["Total Purchase Value"].map("${:.2f}".format)
pop_items_results.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
31,Trickster,9,$2.07,$18.63
175,Woeful Adamantite Claymore,9,$1.24,$11.16
13,Serenity,9,$1.49,$13.41

## Most Profitable Items

In [31]:
##Most Profitable Items: Identify the 5 most profitable items by total purchase value, then list(in a table)##
#Item Id
#Item Name
#Purchase Total
profitable_items_total = purchase_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
#Item Price
profitable_items_price = purchase_df.groupby(["Item ID", "Item Name"]).mean()["Price"]
#Purchase Count
profitable_items_count = purchase_df.groupby(["Item ID", "Item Name"]).count()["Price"]
#Create Most Profitable Items Data Frame
profitable_items_results = pd.DataFrame({"Purchase Count": profitable_items_count, "Item Price": profitable_items_price,
                                         "Total Purchase Value": profitable_items_total})
#profitable_items_results.head()
profitable_items_results = profitable_items_results[["Purchase Count", "Item Price", "Total Purchase Value"]]
profitable_items_results = profitable_items_results.sort_values("Total Purchase Value", ascending = False)
profitable_items_results["Item Price"] = profitable_items_results["Item Price"].map("${:.2f}".format)
profitable_items_results["Total Purchase Value"] = profitable_items_results["Total Purchase Value"].map("${:.2f}".format)
profitable_items_results.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,$37.26
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
103,Singed Scalpel,6,$4.87,$29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88